@model IEnumerable<BulgariaApp.Models.Attraction.AttractionIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
                    @*@Html.DisplayFor(modelItem => item.Picture)*@
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit </a> } @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete </a>}
                </td>
            </tr>
        }
    </tbody>
</table>
