@model IEnumerable<BulgariaApp.Models.Reservation.ReservationIndexVM>

@{
    ViewData["Title"] = "MyReservations";
}
<link href="/css/items.css" rel="stylesheet" />
<link href="/css/index.css " rel="stylesheet" />
<style>
    * {
        color: white;
    }

    h1 {
        color: #d6c3a5;
    }

    th {
        color: #d6c3a5;
    }
</style>
<body style="background-color: #021326 ">
    <h1 class="text-center pt-5 pb-5">MyReservations</h1>


    <p>
        <a asp-controller="Excursion" asp-action="Index">Back to Excursions</a>
    </p>

    <form asp-controller="Reservation" asp-action="MyReservations" method="get">
        <p>
            <input id="ip4" type="text" placeholder="Excursion Name" name="SearchString" />

            <input style="color:black" id="ip2" type="submit" value="Search">
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ExcursionId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Excursion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ExcursionId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Excursion)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Picture)*@
                        <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
</body>