@model BulgariaApp.Models.Excursion.ExcursionDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExcursionDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExcurionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExcurionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture)" alt="Image" width="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture1)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture1)" alt="Image" width="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture2)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture2)" alt="Image" width="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture3)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture3)" alt="Image" width="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture4)
        </dt>
        <dd class="col-sm-10">
            <iframe src="@Html.DisplayFor(model => model.Picture4)" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            @*@Html.DisplayFor(model => model.Picture4)*@
            @*<img src="@Html.DisplayFor(model => model.Picture4)" alt="Image" width="100" />*@
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AttractionId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AttractionId)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttractionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxVisitors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxVisitors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}