@using BulgariaApp.Models.Reservation
@model IEnumerable<BulgariaApp.Models.Excursion.ExcursionIndexVM>

@{
    ViewData["Title"] = "Index";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/items.css" rel="stylesheet" />
<link href="/css/index.css " rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
@*<h1>Index</h1>*@
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p class="pt-5 pl-5">
        <a asp-action="Create">Create New</a>
    </p>
}
<style>
    .card {
        /*  border: green;*/
        /* background-color: #25447a;*/
        /* background-color: #4c89f5;*/
        background-color: #e0e0de;
    }
    body {
        background-color: #192d50;
    }
    header {
        color: #d6c3a5;
    }
    a{
        font-size:20px;
    }
</style>
<body>
    @*<form asp-controller="Excursion" asp-action="Index" method="get">
            <p>
                ExcursionName <input type="text" name="SearchStringExcursionName" />
                Price <input type="text" name="SearchPrice" />
                Discount <input type="text" name="SearchDiscount" />
                <input type="submit" value="Filter">
            </p>

        </form>*@
    @*searchbar*@
    <!--<div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">

                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>-->
    @*<input type="image" class="fas fa-search" />*@

    <!--</div>
        </div>
    </div>-->




    <section class="mb-5 mt-5 pb-5">
        <aside class="col-sm-4">
            <div class="card float-left">
                <article class="card-group-item" style="background-color: #25447a">
                    <header class="card-header"><h3 class="title">What are you looking for? </h3></header>
                    <div class="filter-content">

                        <form asp-controller="Excursion" asp-action="Index" method="get" class="pl-5">
                            <p>
                                <input id="ip4" type="text" placeholder="Excursion Name" name="SearchStringExcursionName" />
                                <input id="ip4" type="text" placeholder="Price" name="SearchPrice" />
                                <input id="ip4" type="text" placeholder="Discount" name="SearchDiscount" />
                                <br />  <input id="ip2" type="submit" value="Search">
                            </p>

                        </form>
                        <header class="card-header text-center"><h4 class="title">Discounts</h4></header>
                        <div class="pl-5 ml-5">
                            <div class="list-group list-group-flush">
                                <a href="/Excursion?SearchStringExcursionName=&SearchPrice=&SearchDiscount=5" class="list-group-item text-primary" style="background-color: #25447a"><strong>5% </strong></a> 
                                <a href="/Excursion?SearchStringExcursionName=&SearchPrice=&SearchDiscount=10" class="list-group-item text-primary" style="background-color: #25447a"><strong>10% </strong> </a>
                                <a href="/Excursion?SearchStringExcursionName=&SearchPrice=&SearchDiscount=20" class="list-group-item text-primary" style="background-color: #25447a"><strong>20% </strong></a>
                                <a href="/Excursion?SearchStringExcursionName=&SearchPrice=&SearchDiscount=50" class="list-group-item text-primary" style="background-color: #25447a"><strong> 50% </strong></a>
                            </div>
                        </div>
                    </div>
                </article> <!-- card-group-item.// -->

            </div>
        </aside>


        <div class="row">
            @foreach (var item in Model)
            {
                <div class="border  mx-3 pt-3 pb-3" style="border-radius:20px">
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">

                        <div class="card image">
                            <div class=" d-flex img-hover-zoom img-hover-zoom--xyz">
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top img-fluid " src="@Html.DisplayFor(modelItem => item.Picture)"></a>
                            </div>
                            <div class="card-body">
                                <h5>@Html.DisplayFor(modelItem => item.ExcurionName) </h5>

                                <div class="d-flex flex-row my-2">
                                    <div class="text-danger">BGN @Html.DisplayFor(modelItem => item.Price)</div>
                                </div>
                                <div class="d-flex flex-row my-2">

                                    <div class="text-muted">
                                        @Html.DisplayNameFor(modelItem => item.Discount): @Html.DisplayFor(modelItem => item.Discount) %
                                    </div>
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.StartDate): @Html.DisplayFor(modelItem => item.StartDate)
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.EndDate): @Html.DisplayFor(modelItem => item.EndDate)
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.MaxVisitors) Count: @Html.DisplayFor(modelItem => item.MaxVisitors)
                                </div>
                                <div class="d-flex flex-row my-2">


                                    @if (this.User.Identity.IsAuthenticated)
                                    {

                                        @await Html.PartialAsync("_ReservationPartialView", new ReservationConfirmVM
                                        {
                                            ExcursionId = item.Id
                                        })

                                    }

                                </div>

                                <div>
                                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id"> Edit@*<img src="~/images/edit.png" width="25">*@</a>
                                    }
                                    @*<a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/details.png" width="40" /></a>*@
                                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                                    {

                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete @*<img src="~/images/delete.svg" width="25" />*@</a>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

    </section>







</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
