@using BulgariaApp.Models.Reservation
@model IEnumerable<BulgariaApp.Models.Excursion.ExcursionIndexVM>

@{
    ViewData["Title"] = "Index";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/items.css" rel="stylesheet" />

<h1>Index</h1>
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-controller="Excursion" asp-action="Index" method="get">
    <p>
        ExcursionName <input type="text" name="SearchStringExcursionName" />
        Price <input type="text" name="SearchPrice" />
        Discount <input type="text" name="SearchDiscount" />
        <input type="submit" value="Filter">
    </p>

</form>











<section class="mb-5 mt-5">
    <div class="container ">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="border  mx-3 pt-3" style="border-radius:20px">
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">

                        <div class="card image">
                            <div class=" d-flex img-hover-zoom img-hover-zoom--xyz">
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Picture)"></a>
                            </div>
                            <div class="card-body">
                                <h5>@Html.DisplayFor(modelItem => item.ExcurionName) </h5>

                                <div class="d-flex flex-row my-2">
                                    <div class="text-danger">BGN @Html.DisplayFor(modelItem => item.Price)</div>
                                </div>
                                <div class="d-flex flex-row my-2">

                                    <div class="text-muted">
                                        @Html.DisplayNameFor(modelItem => item.Discount): @Html.DisplayFor(modelItem => item.Discount) %
                                    </div>
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.StartDate): @Html.DisplayFor(modelItem => item.StartDate)
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.EndDate): @Html.DisplayFor(modelItem => item.EndDate)
                                </div>
                                <div class="d-flex flex-row my-2">

                                    @Html.DisplayNameFor(modelItem => item.MaxVisitors) Count: @Html.DisplayFor(modelItem => item.MaxVisitors)
                                </div>
                                <div class="d-flex flex-row my-2">


                                    @if (this.User.Identity.IsAuthenticated)
                                    {

                                        @await Html.PartialAsync("_ReservationPartialView", new ReservationConfirmVM
                                        {
                                            ExcursionId = item.Id
                                        })

                                    }

                                </div>

                                <div>
                                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id"> edit@*<img src="~/images/edit.png" width="25">*@</a>
                                    }
                                    @*<a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/details.png" width="40" /></a>*@
                                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                                    {

                                        <a asp-action="Delete" asp-route-id="@item.Id">delete @*<img src="~/images/delete.svg" width="25" />*@</a>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>











@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}